.cookie {
   position: absolute;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 1% 0px 1% 0px;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   bottom: 0;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   border-top: 1px solid rgb(226, 225, 225);
   background-color: #ffffff;
}
.cookie__text {
   font-size: 13px;
   width: 75%;
}
.cookie__button {
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   border-radius: 20px;
   padding: 10px;
   margin-left: 5%;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: end;
   font-size: 14px;
   font-weight: 600;
   border: 1px solid rgb(168, 166, 166);
}
.cookie__button:hover {
   border: 1px solid rgb(0, 0, 0);
   cursor: pointer;
}