/*Reset for all browsers*/
* { /*Start reset*/
   padding: 0;
   margin: 0;
   border: 0;
}

*, *:before, *:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

nav, footer, header, aside {
   display: block;
}

html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 24px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input, button, textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a, a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: 400;
} /*Finish reset*/
.header {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   border-bottom: 1px solid rgb(209, 209, 209);
   -webkit-box-shadow: 0 0px 3px rgb(193, 193, 193);
           box-shadow: 0 0px 3px rgb(193, 193, 193);
   margin-bottom: 40px;
}
.header__offer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
   height: 50px;
   padding: 20px;
   background-color: rgb(255, 227, 87);
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}
.header__offer .offer__text {
   font-size: 18px;
   cursor: pointer;
}
.header__offer .offer__button {
   padding: 9px 16px 9px 16px;
   margin-left: 2%;
   font-size: 16px;
   border-radius: 20px;
   background-color: rgb(255, 255, 255);
   text-wrap: nowrap;
   cursor: pointer;
}
.header__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 70px;
   width: 100%;
   -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.header__burger {
   cursor: pointer;
   visibility: hidden;
}
.header__elements {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: absolute;
   width: 100%;
   font-size: 16px;
   text-align: center;
   text-wrap: nowrap;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}
.header__elements .elements__menu {
   width: 70px;
   height: 65px;
   font-size: 17px;
   padding-top: 25px;
   cursor: pointer;
}
.header__elements .elements__menu:hover {
   border-bottom: 8px solid rgb(0, 0, 0);
}
.header__elements .elements__howitworks {
   width: 130px;
   height: 65px;
   font-size: 17px;
   padding-top: 25px;
   cursor: pointer;
}
.header__elements .elements__howitworks:hover {
   border-bottom: 8px solid rgb(0, 0, 0);
}
.header__elements .elements__values {
   width: 70px;
   height: 65px;
   font-size: 17px;
   padding-top: 25px;
   margin-right: 18%;
   cursor: pointer;
}
.header__elements .elements__values:hover {
   border-bottom: 8px solid rgb(0, 0, 0);
}
.header__elements .elements__mainpage {
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   margin-right: 18%;
}
.header__elements .elements__mainpage img {
   width: 200px;
   height: 40px;
   cursor: pointer;
}
.header__elements .elements__signin {
   width: 75px;
   border: 1px solid rgb(200, 197, 197);
   border-radius: 20px;
   font-size: 16px;
   padding: 8px;
   margin-right: 10px;
   cursor: pointer;
}
.header__elements .elements__signin:hover {
   border: 1px solid rgb(0, 0, 0);
}

.main {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   height: auto;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   font-size: 40px;
   background-color: #ffffff;
}

.footer {
   position: relative;
   width: 100%;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   border-top: 1px solid rgb(217, 217, 217);
   background-color: #ffffff;
   margin-top: 50px;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}
.footer__wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   width: 80%;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.footer__local {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   margin: 50px 0px 50px 0px;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}
.footer__social {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding-top: 50px;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   margin-bottom: 30px;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   border-top: 1px solid rgb(217, 217, 217);
}
.footer__copyright {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   color: #a4a4a4;
   line-height: 28px;
   margin-bottom: 8px;
   font-size: 14px;
}

.local__first-row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -ms-flex-preferred-size: 50%;
       flex-basis: 50%;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   margin-top: 32px;
}
.local__second-row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -ms-flex-preferred-size: 50%;
       flex-basis: 50%;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   margin-top: 32px;
}
.local__meal {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   line-height: 30px;
   font-size: 18px;
   text-wrap: nowrap;
}
.local__about {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   line-height: 30px;
   font-size: 18px;
   margin-inline: 40px;
   text-wrap: nowrap;
}
.local__contact {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   line-height: 30px;
   font-size: 18px;
   text-wrap: nowrap;
}
.local__explore {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   line-height: 30px;
   font-size: 18px;
   margin-inline: 40px;
}

.meal__1 {
   font-size: 14px;
   color: #a4a4a4;
}
.meal__2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.meal__3 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.meal__4 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.meal__5 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.meal__6 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.meal__2:hover {
   text-decoration: underline;
}

.meal__3:hover {
   text-decoration: underline;
}

.meal__4:hover {
   text-decoration: underline;
}

.meal__5:hover {
   text-decoration: underline;
}

.meal__6:hover {
   text-decoration: underline;
}

.about__1 {
   font-size: 14px;
   color: #a4a4a4;
}
.about__2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.about__3 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.about__4 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.about__5 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.about__2:hover {
   text-decoration: underline;
}

.about__3:hover {
   text-decoration: underline;
}

.about__4:hover {
   text-decoration: underline;
}

.about__5:hover {
   text-decoration: underline;
}

.contact__1 {
   font-size: 14px;
   color: #a4a4a4;
}
.contact__2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.contact__3 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.contact__4 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.contact__5 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.contact__6 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.contact__2:hover {
   text-decoration: underline;
}

.contact__3:hover {
   text-decoration: underline;
}

.contact__4:hover {
   text-decoration: underline;
}

.contact__5:hover {
   text-decoration: underline;
}

.contact__6:hover {
   text-decoration: underline;
}

.explore__1 {
   font-size: 14px;
   color: #a4a4a4;
}
.explore__2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   text-wrap: nowrap;
}
.explore__3 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   text-wrap: nowrap;
}
.explore__4 {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-top: 16px;
}
.explore__4-1-a {
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   margin-right: 10px;
}
.explore__4-1 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 70px;
   height: 70px;
}
.explore__4-2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   line-height: 18px;
}
.explore__4-3 {
   display: inline;
   font-size: 13.5px;
}
.explore__4-4 {
   display: inline;
   color: #a4a4a4;
   padding-right: 4px;
}
.explore__4-5 {
   display: inline;
}
.explore__4-6 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-top: 8px;
   max-width: 250px;
}

.explore__2:hover {
   text-decoration: underline;
}

.explore__3:hover {
   text-decoration: underline;
}

.explore__4-5:hover {
   text-decoration: underline;
}

.explore__4-6:hover {
   text-decoration: underline;
}

.social__subscription {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   padding: 32px;
}
.social__app {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}
.social__media {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   padding: 32px;
}

.subscription__1 {
   font-size: 14px;
   color: #a4a4a4;
   -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
   display: inline;
   text-align: center;
   margin-bottom: 8px;
}
.subscription__2 {
   -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   border: 1px solid #cacaca;
}
.subscription__2-1 {
   opacity: 0.7;
   padding: 10px;
   font-size: 18px;
}
.subscription__2-2 {
   background-color: rgb(255, 227, 87);
   border-left: 1px solid #cacaca;
   color: #000000;
   font-size: 16px;
   padding: 10px 16px 10px 16px;
}

.app__1 {
   font-size: 14px;
   color: #a4a4a4;
   margin-bottom: 8px;
}
.app__2-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
}
.app__2-1 {
   width: 120px;
   margin-right: 16px;
}
.app__2-2 {
   width: 136px;
}

.media__1 {
   font-size: 14px;
   color: #a4a4a4;
   -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
   display: inline;
   text-align: center;
   margin-bottom: 8px;
}
.media__2 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
}
.media__2-1 {
   width: 42px;
   margin-inline: 8px;
}
.media__2-2 {
   width: 42px;
   margin-inline: 8px;
}
.media__2-3 {
   width: 42px;
   margin-inline: 8px;
}
.media__2-4 {
   width: 42px;
   margin-inline: 8px;
}
.media__2-5 {
   width: 42px;
   margin-inline: 8px;
}

.copyright__line1 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}
.copyright__1-2 {
   color: #a4a4a4;
   text-decoration: underline;
   margin-left: 4px;
}
.copyright__1-2:hover {
   text-decoration: underline;
}
.copyright__1-2-note-arrow {
   position: absolute;
   width: 13px;
   height: 7px;
   -webkit-transform: translateY(198%) translateX(-90%);
           transform: translateY(198%) translateX(-90%);
}
.copyright__1-2-note {
   display: none;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   position: absolute;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   text-align: center;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: end;
   background-color: #ffffff;
   -webkit-box-shadow: 0px 0px 12px #a4a4a4;
           box-shadow: 0px 0px 12px #a4a4a4;
   width: 190px;
   padding: 8px;
   font-size: 16px;
   color: #555555;
   line-height: 18px;
   -webkit-transform: translateY(-107.1%) translateX(-30%);
           transform: translateY(-107.1%) translateX(-30%);
}
.copyright__2-2 {
   font-size: 12px;
   color: #a4a4a4;
}
.copyright__2-3 {
   font-size: 12px;
   color: #a4a4a4;
}
.copyright__2-4 {
   font-size: 12px;
   color: #a4a4a4;
}
.copyright__2-5 {
   font-size: 12px;
   color: #a4a4a4;
}
.copyright__2-2:hover {
   text-decoration: underline;
   color: #555555;
}
.copyright__2-3:hover {
   text-decoration: underline;
   color: #555555;
}
.copyright__2-4:hover {
   text-decoration: underline;
   color: #555555;
}
.copyright__2-5:hover {
   text-decoration: underline;
   color: #555555;
}
.copyright__3-2 {
   color: #a4a4a4;
}
.copyright__3-4 {
   color: #a4a4a4;
}
.copyright__3-2:hover {
   text-decoration: underline;
   color: #555555;
}

.copyright__3-4:hover {
   text-decoration: underline;
   color: #555555;
}

.copyright__1-2:hover .copyright__1-2-note {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.cookie {
   visibility: hidden;
   position: absolute;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   padding: 1% 0px 1% 0px;
   height: 55px;
   bottom: 0;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-shadow: 0px -1px 2px rgb(217, 217, 217);
           box-shadow: 0px -1px 2px rgb(217, 217, 217);
   background-color: #ffffff;
}
.cookie__text {
   font-size: 12px;
   width: 70%;
   font-family: Arial, Helvetica, sans-serif;
}
.cookie__button {
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   border-radius: 20px;
   padding: 10px;
   font-size: 16px;
   border: 1px solid rgb(217, 217, 217);
}
.cookie__button:hover {
   border: 1px solid rgb(0, 0, 0);
   cursor: pointer;
}

body {
   width: 100%;
   height: 100%;
   background-color: #ffffff;
   color: #212020;
   font-size: 16px;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
   color: rgb(0, 0, 0);
}